
.image {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  padding: $s4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.pageTitle {
  color: $lightColor;
  font-family: $baskerville;
  font-size: $f0;
  font-style: italic;
  font-weight: $fw4;
  margin: calc(#{$s5} + #{$s6}) 0 0 0;
}

@media #{$ns} {
  .image {
    padding: $s5;
  }

  .pageTitle {
    font-size: $f-headline;
    margin-bottom: $s5;
  }
}
