@import '../styles/base';

.contentWrapper {
  background-color: $darkColor;
}

.detailFooter {
  color: $lightColor;
}

@media #{$l} {
  .content {
    max-width: $w8;
  }

  .columns {
    column-count: 2;
    column-gap: $s5;
  }
}
