@import '../styles/base';

.blockquote {
  border-left-color: $primaryColor;
  border-left-style: solid;
  border-left-width: $bw4;
  color: $primaryColor;
  font-size: $f6;
  margin: $s4 auto $s5 auto;
  max-width: $w6;
  padding-left: $s4;

  .author {
    letter-spacing: $tracked;
    line-height: $lh-title;
    margin: 0 0 $s2 0;
    text-transform: uppercase;
  }

  .quote {
    color: $lightColor;
    font-family: Baskerville, serif;
    font-size: $f3;
    line-height: $lh-copy;
    margin: 0 0 $s4 0;
    @include measure;
  }

  .source {
    font-size: $f7;
    font-style: italic;
    line-height: $lh-title;
    margin: 0;
    @include measure;
  }
}

@media #{$l} {
  .quote {
    font-size: $f2;
  }
}
