@import '../styles/base';

.contentWrapper {
  background-color: $darkColor;
  color: $lightColor;
}

.item {
  min-height: 100vh;
}

.item:nth-child(even) {
  background-color: $lightColor;
  color: $darkColor;
}

@media #{$ns} {
  .content {
    margin-top: -$s6;
    padding-bottom: $s5;
  }
}
