@import '../styles/base';

.image {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.imageWrapper {
  height: 100%;
  width: 100%;
}

.title {
  animation-name: slideIn;
  animation-duration: 1280ms;
  animation-timing-function: ease-in-out;
  color: $primaryColor;
  font-family: $baskerville;
  font-size: $f0;
  font-style: italic;
  font-weight: $fw4;
  margin: calc(#{$s6} + #{$s4}) 0 0 0;
  padding-left: $s1; // Fix for Mobile Safari
}

.titleWrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: flex-end;
  padding: $s4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@media #{$ns} {
  .titleWrapper {
    padding: $s5;
  }

  .title {
    font-size: $f-title;
    margin: calc(#{$s6} + #{$s7}) 0 0 0;
  }
}
