@import '../styles/base';

.image {
  background-color: $midColor;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.imageWrapper {
  height: 100%;
  width: 100%;
}

.title {
  animation-name: slideIn;
  animation-duration: 1280ms;
  animation-timing-function: ease-in-out;
  bottom: 20%;
  color: $primaryColor;
  font-family: $baskerville;
  font-size: $f0;
  font-style: italic;
  font-weight: $fw4;
  position: absolute;
  margin: 0;
  padding: 0 $s1; // Fix for Mobile Safari
  right: $s4;
  text-align: right;
  @include measure;
}

.titleWrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@media #{$ns} {
  .title {
    font-size: $f-title;
    right: $s5;
  }
}
