@import '../styles/base';

.content {  
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: $w6;
  min-height: 100vh;
  padding: $s4;
}

.image {
  flex: 1;
}

.menu {
  margin: 0;
  order: 3;
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;

  li {
    border-top-color: $primaryColor;
    border-top-style: solid;
    border-top-width: 1px;
    flex: 50%;
  }

  li:nth-child(1),
  li:nth-child(2) {
    border-top: 0;
  }

  a {
    color: $lightColor;
    display: block;
    font-family: $baskerville;
    font-size: $f4;
    font-style: italic;
    font-weight: $fw5;
    padding: $s3 0;
    text-decoration: none;
    transition: color 360ms ease;
  }

  a:hover,
  a:active {
    color: $primaryColor;
  }
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.socialIcon {
  display: inline-block;
  fill: currentColor;
  height: $h2;
  margin-right: $s4;
  width: $w2;
}

.socialFooter {
  order: 4;

  a {
    color: $lightColor;
    transition: color 300ms ease;
  }

  a:hover,
  a:active {
    color: $primaryColor;
  }
}

.text {
  background-color: $darkColor;
  flex: 1;
  transform: translate3d(0,0,0);
}

@media #{$ns} {
  .section {
    flex-direction: row;
  }
}
