@import '../styles/base';

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  padding: $s4;
}

.image {
  flex: 1;
}

.menu {
  margin: 0;
  order: 3;
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  list-style-position: inside;
  margin: $s5 0;
  padding: 0;

  li {
    flex: 50%;
  }


  li:nth-last-child(1),
  li:nth-last-child(2) {
    border: 0;
  }

  li:nth-child(2) {
    border-bottom-width: 1px !important;
  }
}

.nav {
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.socialIcon {
  display: inline-block;
  fill: currentColor;
  height: $h2;
  margin-right: $s4;
  width: $w2;
}

.socialFooter {
  margin-left: -$s2;
  order: 4;

  a {
    color: $lightColor;
    transition: color 300ms ease;
  }

  a:hover,
  a:active {
    color: $primaryColor;
  }
}

@media #{$ns} {
  .section {
    flex-direction: row;
  }
}
