@import '../styles/base';

.header {
  color: inherit;
  position: fixed;
  left: $s3;
  top: -$s2;
  z-index: 1;

  .link {
    color: inherit;
    text-decoration: none;
  }

  .lowerCase {
    text-transform: lowercase;
  }

  .subtitle {
    display: block;
    font-size: $f7;
    font-variant: small-caps;
    font-weight: $fw4;
    letter-spacing: $tracked-mega;
    line-height: $lh-title;
    margin: $s0;
    text-transform: lowercase;
  }

  .title {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: $bw3;
    display: inline-block;
    font-size: $f5;
    font-weight: $fw7;
    line-height: $lh-title;
    margin: 0;
    text-transform: uppercase;
  }
}

.header[data-size="large"] {
  pointer-events: none;
  position: static;

  .subtitle {
    font-size: $f6;
    margin: $s1;
  }

  .title {
    font-size: $f3;
  }
}

@media #{$ns} {
  .header {
    left: $s4;
    top: 0;
  }
}
