@import '../styles/base';

.logo {
  color: inherit;
  position: fixed;
  left: $s3;
  top: $s3;
  z-index: 1;

  .link {
    color: inherit;
    display: block;
    text-decoration: none;
    transition-duration: 360ms;
    transition-property: color;
    transition-timing-function: ease;

    &:hover,
    &:active {
      color: $primaryColor;
    }
  }

  .lowerCase {
    text-transform: lowercase;
  }

  .subtitle {
    display: block;
    font-size: $f7;
    font-variant: small-caps;
    font-weight: $fw4;
    letter-spacing: $tracked-mega;
    line-height: $lh-title;
    margin: $s0;
    text-transform: lowercase;
  }

  .title {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: $bw3;
    display: inline-block;
    font-size: $f5;
    font-weight: $fw7;
    line-height: $lh-title;
    margin: 0;
    text-transform: uppercase;
  }
}

.logo[data-size="large"] {
  color: $lightColor;
  pointer-events: none;
  position: static;

  .subtitle {
    font-size: $f6;
    margin: $s1;
  }

  .title {
    font-size: $f3;
  }
}

@media #{$ns} {
  .logo {
    left: $s4;
    top: $s4;
  }
}
