@import '../styles/base';

.contentWrapper {
  background-color: $lightColor;
  position: relative;
  transform: translate3d(0,0,0);
  z-index: 9999;
}

.footer {
  order: 2;
  width: 100%;
}

.image {
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.link {
  color: $darkColor;
  display: block;
  font-size: $f6;
  font-weight: $fw7;
  margin: 0;
  padding: $s3 0;
  text-decoration: none;
  transition: color 360ms ease;
}

.link:first-of-type {
  border-bottom-color: $primaryColor;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.link:hover {
  color: $midColor;
}

.mapImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115%;
  @include aspect-ratio--object;
}

.mapWrapper {
  @include aspect-ratio;
  @include aspect-ratio--1x1;
}

.monthTitle {
  color: $primaryColor;
  font-size: $f3;
  font-weight: $fw7;
  letter-spacing: $tracked;
  line-height: $lh-title;
  margin: 0;
  padding: calc(#{$s3} + #{$s3} ) $s3;
  text-transform: uppercase;
}

.monthWrapper:nth-child(odd) {
  background-color: $darkColor;

  .link,
  .performanceTitle {
    color: $lightColor;
  }

  .paragraphWrapper p {
    color: $midColor;
  }
}

.paragraphWrapper {
  p {
    color: $midColor;
    font-size: $f5;
    font-weight: $fw4;
    line-height: $lh-copy;
    margin: 0 0 $s3 0;
  }
}

.performance {
  align-items: center;
  display: flex;
  padding: $s5 0;
  min-height: 100vh;
}

.performanceDate {
  color: $primaryColor;
  display: block;
  flex: 1;
  font-size: $f6;
  font-weight: $fw5;
  letter-spacing: $tracked;
  line-height: $lh-title;
  margin-bottom: $s4;
  text-transform: uppercase;
}

.performanceList {
  clear: both;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.performanceTitle {
  color: $darkColor;
  font-family: $baskerville;
  font-size: $f2;
  font-style: italic;
  font-weight: $fw5;
  line-height: $lh-title;
  margin: 0 0 $s4 0;
  @include measure;
}

.performanceWrapper {
  margin: 0 auto;
  padding: 0 $s3;
  text-decoration: none;
  @include measure;
}

.yearSelector {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='7' xmlns='http://www.w3.org/2000/svg'><polygon fill='#{$primaryColor}' points='6 6.66666667 12 0 0 0'></polygon></svg>");
  background-position: center right;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
  box-sizing: content-box;
  color: $primaryColor;
  cursor: pointer;
  font-size: $f3;
  font-weight: $fw7;
  float: right;
  margin: $s4 $s3;
  outline: 0;
  padding-right: $s3;
  text-align: right;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@media #{$ns} {
  .monthTitle {
    font-size: $f1;
    left: 0;
    padding: calc(#{$s4} + #{$s2}) $s3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    z-index: 9999;
  }

  .performanceList {
    margin-top: -$s7;
  }

  .title {
    margin-left: $s4;
    margin-right: $s4;
  }

  .yearSelector {
    font-size: $f2;
    position: -webkit-sticky;
    position: sticky;
    top: $s4;
  }
}

@media #{$l} {
  .map,
  .performanceDetails {
    width: 50%;
  }

  .performance:nth-child(odd) {
    .map {
      order: 1;
      padding-left: $s4;
    }

    .performanceDetails {
      order: 0;
    }
  }

  .performance:nth-child(even) {
    .map {
      order: 0;
      padding-right: $s4;
    }

    .performanceDetails {
      order: 1;
    }
  }

  .performanceWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: inherit;
    width: $w8;
  }
}
