@import '../styles/base';

.list {
  order: 2;
}

.mapImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115%;
  @include aspect-ratio--object;
}

.mapWrapper {
  @include aspect-ratio;
  @include aspect-ratio--1x1;
}

.performance {
  margin-bottom: $s6;
}

.yearSelector {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='7' xmlns='http://www.w3.org/2000/svg'><polygon fill='#{$primaryColor}' points='6 6.66666667 12 0 0 0'></polygon></svg>");
  background-position: center right;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
  box-sizing: content-box;
  color: $primaryColor;
  cursor: pointer;
  float: right;
  font-size: $f3;
  font-weight: $fw4;
  outline: 0;
  padding-right: $s3;
  position: absolute;
  right: $s4;
  text-align: right;
  top: $s5;
  z-index: 1;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@media #{$ns} {
  .performance {
    margin-bottom: $s7;
  }

  .yearSelector {
    font-size: $f2;
    margin-top: $s5;
    position: -webkit-sticky;
    position: sticky;
  }
}

@media #{$l} {
  .map,
  .performanceDetails {
    width: 50%;
  }

  .performance {
    &:nth-child(even) {
      .map {
        order: 1;
        padding-left: $s4;
      }

      .performanceDetails {
        order: 0;
      }
    }

    &:nth-child(odd) {
      .map {
        order: 0;
        padding-right: $s4;
      }

      .performanceDetails {
        order: 1;
      }
    }
  }

  .performanceWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $s7;
    max-width: inherit;
  }
}
