@import '../styles/base';

.content {
  max-width: 100%;
  padding: 0;
}

.contentWrapper {
  background-color: $lightColor;
}

.detailFooter {
  margin-top: $s2;
}

.item {
  align-items: center;
  background-color: $lightColor;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: $s5 $s4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.item:nth-child(odd) {
  background-color: $darkColor;

  .link {
    color: $lightColor;
  }
}

.itemWrapper {
  max-width: $w5;
  width: 100%;
}

@media #{$ns} {
  .itemWrapper {
    max-width: $w6;
  }
}
