@import '../styles/base';

.contentWrapper {
  background-color: $lightColor;

  .content {
    max-width: 100%;
    padding: 0;
  }
}

.item {
  align-items: center;
  background-color: $lightColor;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: $s5 $s4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .itemWrapper {
    max-width: $w5;
    width: 100%;
  }
}

.item:nth-child(odd) {
  background-color: $darkColor;

  .link {
    color: $lightColor;
  }
}

@media #{$ns} {
  .item {

    .itemWrapper {
      max-width: $w6;
    }
  }
}
