@import '../styles/base';

.contentWrapper {
  background-color: $lightColor;
}

.contentWrapper:nth-child(even) {
  background-color: $darkColor;

  .heading,
  .link {
    color: $lightColor;
  }
}

@media #{$ns} {
  .list {
    margin-top: -$s6;
    padding-bottom: $s5;
  }
}
