@import '../styles/base';

.blockquote {
  border-left-color: $primaryColor;
  border-left-style: solid;
  border-left-width: $bw3;
  color: inherit;
  font-size: $f6;
  margin: 00;
  max-width: $w6;
  padding-left: $s4;

  .author {
    color: $primaryColor;
    letter-spacing: $tracked;
    line-height: $lh-title;
    margin: 0 0 $s3 0;
    text-transform: uppercase;
  }

  .quote {
    a {
      color: $primaryColor;
      text-decoration: none;
      transition: color 360ms ease;
    }

    a:hover {
      color: $midColor;
    }

    p {
      color: inherit;
      font-family: $baskerville;
      font-size: $f3;
      line-height: $lh-copy;
      margin: 0 0 $s4 0;
      @include measure;
    }
  }

  .source {
    color: $primaryColor;
    font-size: $f7;
    font-style: italic;
    line-height: $lh-copy;
    margin: 0;
    @include measure;
  }
}

@media #{$l} {
  .quote {
    font-size: $f2;
  }
}
