@import '../styles/base';

.contentWrapper {
  align-items: center;
  background-color: $darkColor;
  color: $lightColor;
  display: flex;
  min-height: 100vh;
}

.imageLayout {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: $w5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;  

  .imageWrapper {
    @include aspect-ratio;
    @include aspect-ratio--1x1;

    .image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include aspect-ratio--object;
    }
  }
}

.media {
  width: 100%;
}

.mediaButton {
  background: none;
  border-color: $primaryColor;
  border-radius: 100%;
  border-style: solid;
  border-width: $bw1;
  cursor: pointer;
  outline: 0;
  height: $h3;
  padding: 0;
  transition: all 480ms ease-in-out;
  width: $w3;

  &:hover {
    border-color: $lightColor;
  }

  .mediaButtonsIcons {
    height: $h1;
    overflow: hidden;
    position: relative;
    width: 100%;

    .icon {
      bottom: 0;
      fill: $lightColor;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 320ms ease;
      width: 100%;
    }
  }

  &[data-state="playing"] [data-icon="pause"],
  &[data-state="paused"] [data-icon="play"] {
    opacity: 1;
    transform: translateX(0);
  }

  &[data-state="playing"] [data-icon="play"],
  &[data-state="paused"] [data-icon="pause"] {
    opacity: 0;
    transform: translateX(100%);
  }
}

.mediaPlayer {
  align-items: center;
  display: flex;
  margin-top: $s4;
}

.paragraphWrapper p {
  margin: $s4 0;
}

.progressTrack {
  background-color: darken($midColor, 40%);
  flex: 1;
  height: $h1;
  margin-left: $s3;

  .progress {
    background-color: $primaryColor;
    display: block;
    height: $h1;
    transition: all 480ms linear;
  }
}

.recording {
  background-color: $lightColor;
  min-height: 100vh;
}

@media #{$ns} {
  .imageLayout {
    max-width: $w6;
  }
}
