@import '../styles/base';

.header {
  align-items: center;
  background-image: url(../images/tim-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right-color: $yellow;
  border-right-style: solid;
  border-right-width: $bw5;
  border-top-color: $gold;
  border-top-style: solid;
  border-top-width: $bw5;
  box-shadow: 0 3rem 2rem 0 rgba(0,0,0,0.35);
  justify-content: flex-end;
  display: flex;
  height: 100vh;
  margin: auto;
  margin-bottom: $s6;
  margin-top: $s5;
  width: 90%;
}

.paragraph {
  color: $black-60;
  font-size: $f5;
  font-weight: $fw4;
  line-height: $lh-copy;
  margin: 0 auto $s4 auto;
  @include measure-wide;
}

.title {
  background-color: $near-black;
  color: $white;
  display: inline-block;
  font-size: $f2;
  font-weight: $fw8;
  line-height: $lh-title;
  margin: 0;
  padding: $s2 $s4;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}


@media #{$ns} {
  .header {
    box-shadow: 0 6rem 4rem 0 rgba(0,0,0,0.35);
    margin-bottom: $s7;
  }

  .paragraph {
    font-weight: $fw3;
  }
}

@media #{$l} {
  .paragraph {
    font-size: $f4;
  }

  .title {
    font-size: $f-subheadline;
  }
}

@media #{$m} {
  .title {
    font-size: $f1;
  }
}
